@import '../GlobalStyle/GlobalStyle.scss';

.board-column {
  display: flex;
  margin: 0 $gap $gap $gap;
  gap: $gap;
  overflow-x: auto;

  // Scrollbar - horizontal
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    background: transparent;
    display: none;
  }
  &::-webkit-scrollbar-track-piece {
    background: rgba(9, 30, 66, 0.08);
  }
  &::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 4px 4px 0 0;
  }
  &::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 4px 4px;
  }
  &::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 4px 0 0 4px;
  }
  &::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 4px 4px 0;
  }
  &::-webkit-scrollbar-thumb:vertical,
  &::-webkit-scrollbar-thumb:horizontal {
    background: rgba(9, 30, 66, 0.13);
    border-radius: 4px;
    display: block;
    height: 48px;
  }

  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px;
  }
}
