@import '../GlobalStyle/GlobalStyle.scss';

.board-column {
  display: flex;
  margin: 0 $gap $gap $gap;
  gap: $gap;
  overflow-x: auto;

  // Scrollbar - horizontal
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    background: transparent;
    display: none;
  }
  &::-webkit-scrollbar-track-piece {
    background: rgba(9, 30, 66, 0.08);
  }
  &::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 4px 4px 0 0;
  }
  &::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 4px 4px;
  }
  &::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 4px 0 0 4px;
  }
  &::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 4px 4px 0;
  }
  &::-webkit-scrollbar-thumb:vertical,
  &::-webkit-scrollbar-thumb:horizontal {
    background: rgba(9, 30, 66, 0.13);
    border-radius: 4px;
    display: block;
    height: 48px;
  }

  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px;
  }

  .add-new-column {
    min-width: 250px;
    padding: 4px;
    min-height: 32px;
    line-height: 32px;
    border-radius: $column-border-radius;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;

    .icon {
      margin-left: 8px;
    }

    &:hover {
      background-color: #ffffff52;
    }
  }

  .content-add-new-column {
    min-width: 250px;
    background-color: transparent;
    padding: 5px;
    border-radius: $column-border-radius;
    margin-left: 10px;

    .group-btn {
      padding-top: 5px;
      display: flex;
      align-items: center;

      i {
        font-size: 30px;
        margin-left: 16px;
        padding: 0 4px;
        cursor: pointer;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
